body{
    background-color: rgba(18, 100, 114, 0.979);
    overflow: hidden;
}

main{
    background-color: rgb(146, 139, 139);
    border-radius: 10px;
    margin: auto;
    max-width: 1000px;
    max-height: 510px;
    margin-top: 7%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}

/*
    css relacionado ao lado direito da tala de login mais especifico da tag article e seu conteudo.
*/

article.login{
    display: block;
    float: right;
    width: 48%;
    height: 100%;
    text-align: center;
    margin-left: 0;

}



input.login{
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0);
    width: 90%;
    font-size: 20px;
    text-align: left;
}

input#botao {
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0);
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
}

h1#saldacao{
    font-size: 40px;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 15%;
}

h2#saldacao{
    text-align: left;
    margin-left: 5%;
    margin-top: 1%;
}

a#rsenha{
    display: block;
    float: right;
    margin-right: 7%;
 }

 /*
    css relacionado ao lado direito da tala de cadastro mais especifico da tag article e seu conteudo.
*/

input{
    width: 42%;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0);
    font-size: 15px;
    text-align: left;
    margin-top: 1%;
}

input.cadastro{
    width: 90%;
}

 /*
    css do lado esquerdo da tela.
 */

article.esquerdo{
    background-color: rgb(179, 174, 174);
    width: 50%;
    text-align: right;
    border-left: solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

h1#esquerdo{
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 70px;
    padding-top: 6%;
}

p#esquerdo{
    margin-left: 30%;
    margin-right: 5%;
    margin-top: 1%;
}

img#caderno{
    width: 90%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}

img#icone{
    display: block;
    float: left;
    width: 24%;
    margin-left: 35%;
    margin-top: 1%;
}


