*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-main : #A2A2A2;
    --color-texto : black;
    --color-image : #CCCCCC;
    --color-texbutao : white;
}

.dark-mode:root{
    --color-main :#091E3A;
    --color-texto : white;
    --color-image :#404040;
    --color-texbutao : black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35,58,79);
    background: linear-gradient(90deg, rgba(35,58,79,1) 44%, rgba(63,103,142,1) 86%); 
}

.container{
    align-items: center;
    justify-content: center;
    max-width: 1033px;
    height: 100vh;
    display: flex;
}

main{
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--color-main);
    align-items: center;
    justify-content: center;
}

/* Lado esquerdo */

#form-img{
    flex-direction: column;
    width: 50%;
    background-color: var(--color-image);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 10px;
    height: 585px;
}

#form-img-logo{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 95%;
    padding: 10px 20px;
}

#form-img-logo img{
    width: 127px;
}

#form-img-logo p{
    font-family: Inria Serif;
    font-size: 83px;
    color: var(--color-texto);
}

#form-img-descricao{
    text-align: center;
}

#form-img-descricao p{
    font-family: Anonymous Pro;
    font-size: 20px;
    text-align: right;
    margin: 10px 35px 20px;
    color: var(--color-texto);
}

#form-img-descricao img{
    width: 90%;
    height: 265px;
}

/* Lado Direito */
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 535px;
}

.modo-escuro{
    width: 90%;
    text-align: right;
    height: fit-content;
    margin-top: -100px;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 35.5px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #606060;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 0.3em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.switch input:checked + .slider {
    background-color: white;
    color: #606060;
}
  
.switch input:checked + .slider:before {
    transform: translateX(2.6em);
    background-color: #606060;
    height: 28px;
    width: 28px;
}



#sub-form{
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 80px;
}

.recepcao{
    margin: 10px 0px;
    text-align: left;
}

.recepcao h3{
    font-size: 40px;
    font-family: Inria Serif;
    color: var(--color-texto);
}

.recepcao p{
    font-size: 29px;
    font-family: Inter;
    color: var(--color-texto);
}

#sub-formulario input{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    margin: 20px 0px 0px;
    padding: 7px 25px;
    font-size: 17px;
    border: 0.5;
}

.formulario{
    justify-content: center;
    text-align: center;
}

.formulario a{
    width: 100%;
    text-decoration: none;
    font-size: 17px;
    color: #1c6cd4;
}

#sub-formulario{
    justify-content: center;
    align-items: center;
    text-align: right;
}

#logar{
    width: 60%;
    border-radius: 8px;
    font-size: Inter;
    font-size: 18px;
    height: 40px;
    margin: 20px 10px 10px;
    background-color: var(--color-texto);
    line-height: 24px;
    color: var(--color-texbutao);
    border: 0;
}



#sub-info{
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5px;
    margin-top: 5px;
    font-size: 18px;
}

#sub-info a{
    color: #1c6cd4;
    font-family: Inter;
}

#sub-info p{
    color: var(--color-texto);
}

/* Desktop */
@media(width <= 1200px){
    .container{
        margin: 0px 20px;
    }

    #form-img-descricao img{
        width: 90%;
        height: 265px;
    }
}

/* Tablet */
@media(width <= 748px){
    #form-img-logo{
        padding: 5px 20px;
    }

    #form-img-logo{
        width: 100%;
        padding: 5px 15px;
    }

    #form-img-logo img{
        width: 115px;
    }

    #form-img-logo p{
        font-size: 75px;
    }

    #form-img-descricao p{
        font-size: 19px;
        margin: 5px 20px 30px;
    }

    #form-recepcao{
        font-size: 37px;
    }

    #form-sub-recepcao{
        font-size: 28px;
    }

    .switch{
        width: 70px;
    }
      
    .switch input:checked + .slider:before {
        transform: translateX(2em);
        background-color: #606060;
        height: 28px;
        width: 28px;
    }
}

@media(width <= 678px){
    .modo-escuro{
        margin-top: -55px;
    }
}

/* Celular */
@media(width <= 576px){
    body{
        background: linear-gradient(90deg, rgba(35,58,79,1) 5%, rgba(63,103,142,1) 90%); 
    }

    main{
        flex-direction: column;
        background-color: transparent;
        height: 585px;
    }

    #form-img{
        background-color: transparent;
        display: flex;
        width: 100%;
    }

    #form-img-descricao{
        width: 100%;
        text-align: right;
        justify-content: right;
    }

    #form-img-descricao p{
        padding-left: 50px;
        color: #fff;
    }

   #form-img-descricao img{
    display: none;
   }

   #form-img-logo p{
    color: #fff;
   }

   #form-img-logo img{
    content: url(../imagens/icone-inicio-mobile.png);
    color: #fff;
    width: 120px;
   }

   #form{
    width: 100%;
    background-color: #A2A2A2;
    border-radius: 10px;
    padding: 20px 40px 60px;
   }

   #sub-form{
    width: 100%;
    margin-top: 0px;
   }

   .modo-escuro{
    margin-top: 0px;
    width: 100%;
   }

   #sub-info{
    position: fixed;
    bottom: auto;
    text-align: center;
    width: 75%;
   }
}