*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  .container {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .form-row{
      display: flex;
  }
  .form-group label {
    width: 150px;
    flex-shrink: 0;
    margin-right: 20px;
    text-align: right;
  }
  .form-group input, .form-group select {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group.phone-group {
    display: flex;
  }
  .form-group.phone-group input {
    flex-grow: 1;
    margin-right: 10px;
  }
  .form-group.birth-group {
    flex-grow: 1;
  }
  .form-group.birth-group input {
    margin-right: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }